@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    padding: 0 1.5rem;
    background-color: rgba(255, 255, 255, 0.532);
    max-width: 600px;
    margin: 0 auto;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    padding: 10px 0;
    border-bottom: .5px solid rgba(0,0,0,.5);
}

#historyicon{
    font-size: 1.8rem;
}

.balanceSection{
    margin-top: 1rem;
    font-weight: bold;
}

.balanceSection #balance{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 10px;
}

.balanceSection h2{
    font-size: 1.8rem;
    font-weight: bolder;
}

.incexpsection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 1rem;
    margin: 15px 0;
    border: .5px solid rgba(0,0,0,.7);
    border-radius: 10px;
}

.incexpsection .expense{
    border-left: 4px solid rgba(0,0,0,.5);
}

.incexpsection .income h2{
    color: green;
}

.incexpsection .expense h2{
    color: rgb(255, 0, 0);
}

.history{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.5);
    padding: 10px;
}
form{
    margin-top: 1rem;
}

form label{
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}
form input{
 display: block;
 width: 100%;
 margin-top: 10px;
 padding: .8rem;
 font-size: 1.2rem;
 font-weight: bold;
 transition: .2s linear;
 outline-style:none ;
 border-radius: .5px;
}

form input:hover{
    border: 2px solid #5f5eab;
}


form button{
 width: 100%;
 display: block;
 padding: 10px 0;
 font-size: 1.5rem;
 margin-top: 1rem;
 background-color: #5f5eab;
 color: white;
 font-weight: bold;
 border: none;
 border-radius: 8px;
}

form p{
    font-weight: bold;
}

#history .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}

.incomeborder{
    border-right:4px solid green;
    padding-right: 10px;
}

.expenseborder{
    border-right:4px solid rgb(255, 2, 2);
    padding-right: 10px;
}


#history{
    border-bottom: 1px solid rgba(0,0,0,.5);
    background-color: white;
    display:flex;
    flex-direction: column-reverse;
    transition: .3s  linear;
}


form select{
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #5f5eab;
    background-color: transparent;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
}



.displayhistory{
    position: fixed;
    top: 58.67px;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color: black;
    transform: translateX(100%);
    transition: .2s linear;
}

.view{
    transform: translateX(0%);
}